html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 700px;
    margin: 30px auto;
    background: rgba(0,128,255,0.17);
    padding: 20px;
    border: 5px solid var(--color-golden-rod);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header h1 {
    color: var(--color-black);
}

.form-group {
    margin-bottom: 15px;
    font-size: 16px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Стили для всех полей ввода и select */
input[type="text"],
input[type="date"],
input[type="time"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Важно для корректной ширины */
    font-size: 18px;        
}


button, .btn_common-blue{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #0080ff;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 5px 28px;
    border: 1px solid lightgray;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.3s ease, background 0.3s ease;
    width: auto;
}
button:hover {
    transform: translateY(-2px); /*сдвинуть кнопку вверх*/
    background-color: var(--color-golden-rod);
}
