html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

h2 {
    font-size: 22px;
}

.section_top {
    margin-top: 80px; /*чтобы не уезжала под Header */
}

.section_top h1 {
    color: var(--color-black);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 17px;
    padding-top: 30px;
}

.section_top_title_text {
    font-size: 20px;
    text-align: center;
    font-weight: 700
}
