html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
/* ================================ */


.section_top {
   margin-top: 80px;
   color: var(--color-gray);
}


.section_top h1 {
    color: var(--color-black);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 7px;
    padding-top: 15px;
}
.section_top_title {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: var(--color-blue);
}

.about_text {
   width: 80%;
   margin: 0 auto;
   font-size: 20px;
   line-height: 1.5;
   color: var(--color-black);
   margin-bottom: 20px;
}
.about_text h2 {
    color: var(--color-blue);
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.about_text ul {
    list-style-type: none; /* Удаляем стандартные маркеры */
    padding-left: 65px;
}
.about_text ul li:before {
    content: "•"; /* Используем собственный маркер */
    color: var(--color-green); /* или var(--color-blue) */
    font-weight: bolder;
    /* font-size: 24px; */
    display: inline-block; 
    width: 3em;
    margin-left: -3em;
}

.about_image-box{
    display: inline;
    width: 700px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
}

/* Контейнер для изображений */
.about_image-box {
    display: flex;
    gap: 10px;
    margin: 10px auto;
    width: 100%;
}

/* Стиль для самих изображений */
.about_image-box img {
    width: 33.3%; /* Каждое изображение занимает половину ширины контейнера */
    height: auto;
    object-fit: cover; /* Изображение будет покрывать область */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень */
    transition: transform 0.3s ease;
}

/* Эффект при наведении - красиво! */
.about_image-box img:hover {
    transform: scale(1.02);
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;  
}

.logo-box {
    text-align: center;
    margin-left: 70px;
}
.logo-box img {
    width: 190px;
    margin-top: 70px;
}


/* --- ИЗ СОНОВНОЙ СТРАНИЦЫ index.html --- */
.blue_bold {
    color: var(--color-blue);
    font-weight: 900;
}