:root{
    --color-bg: #cce2f7;
    --color-site-bg: #cce2f7;

    --color-blue-frm: #67aef5; /* Цвет фона форм Login, Register */
    --color-blue: #0070ff;
    --color-lightblue: #a6c7f3;
        
    --color-green: #28a745;
    --color-golden-rod: #b8860B;
    --color-white: whitesmoke;
    --color-black: #333; /* #1f2933 - как вариант */
    --color-red: #ff0000;
    --color-menu-a: #333;
    --color-btn_blue: #0d80fa;
    --color-btn_blue-hover: #1f9ffd;

    --font-sz-base: 12px;    
}

/* РАЗМЕРЫ */
.sz12 {
font-size: 12px;
font-weight: 700;
}
.sz14 {
font-size: 14px;
font-weight: 700;
}
.sz16 {
font-size: 16px;
font-weight: 700;
}
.sz18 {
font-size: 18px;
font-weight: 700;
}
.sz20 {
font-size: 20px;
font-weight: 700;
}
.sz22 {
font-size: 22px;
font-weight: 700;
}
.sz24 {
font-size: 24px;
font-weight: 700;
}

/* ЦВЕТА */
.clwhite {
    color: lightgray;
}
.clblue {
    color: #0080ff;
}
.clGoldenRod {
    color: #b8860B;
}