/* >= 1200
992 - 1199
768 - 991
576 - 768
460 - 576
414 - 460
375 - 414
320 - 375
*/
@media screen and (max-width: 1199px) {
   .testbtn {
      display: none;
   }
}

@media screen and (max-width: 991px) {
.menu a {
   font-size: calc(var(--font-sz-base + 2px));
   margin: 0 10px;
   }
   .logo{
      width: 40px;
   }
}

@media screen and (max-width: 875px) {
   .menu a {
      font-size: calc(var(--font-sz-base + 1px));
      margin: 0 5px;
   }
}


@media screen and (max-width: 820px) {
   .menu a {
      font-size: calc(var(--font-sz-base)-1px);
      margin: 0 5px;
   }
   .logo{
      width: 35px;
   }
}

@media screen and (max-width: 650px) {
   .menu a {
      font-size: calc(var(--font-sz-base - 4px));
      margin: 0 5px;
   }
}
